 *{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: 'Segoe UI', sans-serif;
}

body{
  min-height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background:#050b3a;
}

.container{
  width:350px;
}

.card{
  background:#0b145f;
  color:white;
  padding:20px;
  border-radius:20px;
  display:flex;
  justify-content:space-between;
  align-items:center;
  margin-bottom:20px;
  border:2px solid #7c83ff;
}

.card h2{
  margin-bottom:5px;
}

.progress-bar{
  width:180px;
  height:8px;
  background:#1e2a8a;
  border-radius:10px;
  margin-top:10px;
}

#progress{
  height:100%;
  width:0%;
  background:#2efcff;
  border-radius:10px;
  transition:0.3s;
}

.circle{
  width:70px;
  height:70px;
  border-radius:50%;
  background:#7c83ff;
  display:flex;
  justify-content:center;
  align-items:center;
  font-weight:bold;
}

.input-box{
  display:flex;
  gap:10px;
  margin-bottom:20px;
}

.input-box input{
  flex:1;
  padding:12px;
  border-radius:12px;
  border:none;
  outline:none;
  background:#111b6d;
  color:white;
}

.input-box button{
  width:45px;
  border:none;
  border-radius:50%;
  background:#7c83ff;
  color:white;
  font-size:22px;
  cursor:pointer;
}

ul{
  list-style:none;
}

li{
  background:#0b145f;
  padding:12px;
  border-radius:12px;
  display:flex;
  align-items:center;
  justify-content:space-between;
  margin-bottom:10px;
  color:white;
}

.task-left{
  display:flex;
  align-items:center;
  gap:10px;
}

li.completed span{
  text-decoration:line-through;
  color:#2efcff;
}

.actions i{
  font-size:18px;
  cursor:pointer;
  margin-left:10px;
}

.actions .delete{
  color:red;
}
.actions .complete{
  color:limegreen;
}
.actions .edit{
  color:yellow;
}
.actions .save{
  color:cyan;
}
.actions .cancel{
  color:orange;
}
.editing input{
  padding:6px;
  border-radius:6px;
  border:none;
  outline:none;
  background:#111b6d;
  color:white;
} 




/* ===== MOBILE RESPONSIVE ===== */
@media (max-width: 420px) {
  .container {
    width: 90%;
  }
}
 